<h1>Your coach has someting to say to you! </h1>

<div class="container">

<p> You said to me : <%= @user_question %></p>

<div>
  <div class="answer"><%= @answer %></div>
</div>
<br>

<%= link_to "Let's keep talkng!", ask_path %>
</div>
