<h1>Talk to the Stupid Coach.</h1>



<div class="container">
  <form action="/answer" method="get">
    <input class="input" type="text" name="user_question" placeholder="Whats up?">
    <br>
    <input class="button" type="submit">
  </form>
</div>
